{% extends 'base.html' %}
{% block content %}
{% load static %}
<sidemenu>
    <div class="section">
        <p>Сортировка</p>
        <div class="section-list">
            <span>По новизне</span>
            <span>По рейтингу</span>
        </div>
    </div>
    <div class="section">
        <p>Категории</p>
        <div class="section-list">
            <span>Корпоративный стиль</span>
            <span>Фан-арт</span>
            <span>Пиксель арт</span>
            <span>Аниме</span>
            <span>Комикс</span>
            <span>Стилизация</span>
            <span>Дизайн персонажа</span>
        </div>
    </div>
    <div class="section">
        <p>Жанр</p>
        <div class="section-list">
            <span>Фэнтези</span>
            <span>Фантастика</span>
            <span>Постапокалипсис</span>
            <span>Средневековье</span>
            <span>Космос</span>
            <span>Дикий Запад</span>
            <span>Подводный мир</span>
            <span>Исторический</span>
            <span>Тёмное фэнтези</span>
            <span>Мифология</span>
        </div>
    </div>
</sidemenu>
<div class="art-list">
    {% for commission in commissions %}
        <div class="art">
            <div class="art_image_container">
                <img class="art_image" src="{% get_media_prefix %}{{commission.image}}" alt="Image not found">
            </div>
            <div class="art_info">
                <div class="author_avatar">
                    <img src="{% static '/main/img/default_avatar.jpg' %}" alt="Image not found">
                </div>
                <div class="art_name_block">
                    <div class="art_name">
                        <span>{{commission.name}}</span>
                    </div>
                    <div class="author_name">
                        <a href="/profile/{{ommission.author.id}}">{{ommission.author.usernam}}</a>
                    </div>
                </div>
                <div class="cost">2000<span>&nbsp;р.</span></div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}`